body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  width: 18rem;
}

.border-1 {
  margin-top: 100px;
  padding: 50px;
  border: 1.5px rgb(204, 204, 204) solid;
  border-radius: 6px;
}